* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first{
  padding: 30px;
  background-color: lightblue;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  font-family: monospace;

  img{
    height: 350px;
    width: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 24px;
  }

  h3{
    color: red;
    font-size: 18px;
  }

  button{
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 18px;
    background-color: lightgreen;
  }
}