* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.section {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
