* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://images.unsplash.com/photo-1718131507821-78f160223491?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.glass-container {
  color: red;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding-block: 3rem;
  width: 500px;
  text-align: center;
  text-wrap: nowrap;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

h2,
p {
  color: white;
  padding-block: 1rem;
}

.glass-container:hover {
  transform: scale(1.05);
}
