* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  height: 200px;
  width: 200px;
  transition: all 0.3s linear;
}

.red {
  background-color: rgb(155, 13, 13);
}

.blue {
  background-color: rgb(3, 3, 130);
}

.green {
  background-color: rgb(0, 75, 0);
}

body:has(.box:hover) .box{
  transform: scale(0.8);
  opacity: 0.8;
}

body .box:hover{
  transform: scale(1.2) !important;
  opacity: 1.2 !important;
}