* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.box{
  height: 300px;
  width: 300px;
  background-color: #fbf9f998;
  text-align: center;
  box-shadow: inset 0 0 50px red; /* x|y|spread-radius|color */
}

h1{
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 5px 2px 2px rgb(30, 0, 255);
}

.box2{
  height: 300px;
  width: 300px;
  background: conic-gradient(from 45deg, white, black, red, yellow);
}

@keyframes changeBG {
  from{
    background-color: rgb(255, 0, 0);
    border-radius: 0;
  }
  to{
    background-color: rgb(255, 204, 0);
    border-radius: 50px;
    scale: 0.8;
  }
}

.box3{
  height: 300px;
  width: 300px;
  animation: changeBG 5s infinite forwards alternate;
}