* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

div{
  font-size: 3.5rem;
}
h1{
  color: red;
}
h2{
  color: lightcoral;
}
h3{
  color: lightpink;
}
