:root{
  --color1: #0f2b55;
  --color2: #e4e4e6;
  --btn-color: #0F192C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

section{
  height: 100vh;
  width: 100%;
}