* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

h1{
  background-color: goldenrod;
}

button{
  margin-top: 2rem;
  padding: 5px 10px;
  background-color: lightcoral;
  color: black;
  border: none;
  border-radius: 18px;
  font-size: 1rem;
}