.cli-window{
  height: 100%;
  overflow: auto;
  padding-bottom: 3em;
  background-color: #1e1a1a;

  div[name="react-console-emulator"]{
    height: 100%;
    background-color: transparent !important;
  }
}