.window {
  height: 500px;
  width: 700px;

  background-color: #060606;
  border-radius: 0.75rem;
  overflow: hidden;

  color: rgb(241, 241, 241);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .nav {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    border-bottom: 1px solid rgba(213, 213, 213, 0.69);

    display: flex;
    gap: 1.5rem;
    align-items: center;

    .dots {
      display: flex;
      gap: 0.25rem;

      .dot {
        height: 15px;
        width: 15px;
        background-color: white;

        border-radius: 50%;
      }

      .red{
        background-color: #e65252;
      }
      .yellow{
        background-color: #d2d24b;
      }
      .green{
        background-color: #0bd400;
      }
    }
  }
}
