* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body{
  background-color: cyan;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  height: 480px;
  width: 330px;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #000;
  position: relative;
}

#storians{
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #dadada;
  padding: 15px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#storians::-webkit-scrollbar{
  display: none;
}

.story{
  border: 3px solid red;
  height: 90px;
  border-radius: 50%;
  width: 90px;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#full-screen{
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  display: none;
}