* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
  background-color: black;
  cursor: none;
}

.cursor{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
}

h1{
  font-size: 100px;
  color: lightskyblue;
  position: absolute;
  text-wrap: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}