* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

p{
  font-size: 3rem;
  color: rgb(0, 255, 0);
}