* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: monospace;
}

main{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(images/ipl.jpg);
  background-size: cover;
  background-position: center;
}

#content{
  width: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(161, 160, 160, 0.605);
  border-radius: 20px;
  gap: 35px;
}

.info{
  width: 50%;
  text-align: left;
  line-height: 2;
}
h1{
  font-size: 48px;
}

h4{
  font-size: 28px;
}

img{
  height: 40vh;
  width: 40vh;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

button{
  padding: 10px 20px;
  font-size: 22px;
  border: none;
  border-radius: 15px;
  background-color: rgba(132, 130, 130, 0.618);
  color: #fff;
  cursor: pointer;
}

button:hover{
  color: black;
}

button:active{
  scale: 0.90;
}