* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
  background-color: black;
}

.card{
  height: 30%;
  width: 100%;
  margin-bottom: 10px;
  background-color: gray;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  h1{
    font-size: 32px;
  }

  button{
    padding: 10px 20px;
    background-color: skyblue;
  }
}