* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: #E7E7E7;
  padding: 50px 200px;
  font-family: Arial, Helvetica, sans-serif;
}


.wrapper {
  height: 100%;
  width: 100%;
  background-color: #FFF;
  position: relative;
  z-index: 1;

  .curve {
    height: 80%;
    width: 45%;
    background-color: #F3F3F3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 50% 50%;
    z-index: -1;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;

    .name{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 80px;

      h1{

        span{
          color: red;
        }
      }

      ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        li{
          list-style: none;
          font-weight: 600;
          font-family: monospace;
        }
      }
    }

    .searchCart{
      display: flex;
      align-items: center;
      gap: 30px;

      i{
        font-size: 22px;
        font-weight: 600;
      }

      .btn{
        border: 2px solid rgba(156, 152, 152, 0.681);
        padding: 5px 6px;
        border-radius: 18px;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        i{
          font-size: 12px;
          color: #fff;
          padding: 6px;
          background-color: black;
          border-radius: 50%;
        }
      }
    }
  }

  .content{
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;

    .left{

      .text{
        display: flex;
        gap: 5px;

        .vertical{
          writing-mode: vertical-rl;
          padding: 8px 0;
          font-size: 13px;
          font-weight: 400;
        }

        .main-text{
          font-size: 24px;
        }

        
      }

      .star{
        padding: 8px 14px;
        
        i{
          color: #FEA634;
        }

        #star-empty{
          color: #E3DFDD;
        }
      }
    }

    .right{
      display: flex;
      gap: 130px;
      
      .color{
        display: flex;
        align-items: flex-start;
        gap: 10px;

        .color-text{
          writing-mode: vertical-rl;
          font-weight: 600;
        }

        .color-selection{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 20px;

          i{
            font-size: 24px;
          }

          i:nth-child(1){
            color: #60AFCD;
          }
          i:nth-child(2){
            padding: 10px;
            color: #F9D064;
            background-color: black;
            border-radius: 10px;
          }
          i:nth-child(3){
            color: #E07865;
          }
        }
      }

      .size{
        display: flex;
        gap: 15px;

        .size-text{
          writing-mode: vertical-rl;
          font-weight: 600;

          span{
            color: grey;
          }
        }

        .size-select{

          ul{

            li{
              height: 50px;
              width: 50px;
              list-style: none;
              margin-bottom: 8px;
              border: 2px solid #F2F2F2;
              border-radius: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .grey{
              background-color: #F2F2F2;
            }

            .black{
              background-color: black;
              color: white;
            }
          }
        }
      }
    }
  }

  #model{
    height: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}