* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: #E7E7E7;
  padding: 50px 200px;
  font-family: Arial, Helvetica, sans-serif;
}


.wrapper {
  height: 100%;
  width: 100%;
  background-color: #FFF;
  position: relative;
  z-index: 1;

  .curve {
    height: 80%;
    width: 45%;
    background-color: #F3F3F3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 50% 50%;
    z-index: -1;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;

    .name{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 80px;

      h1{

        span{
          color: red;
        }
      }

      ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        li{
          list-style: none;
          font-weight: 600;
          font-family: monospace;
        }
      }
    }

    .searchCart{
      display: flex;
      align-items: center;
      gap: 30px;

      i{
        font-size: 22px;
        font-weight: 600;
      }

      .btn{
        border: 2px solid rgba(156, 152, 152, 0.681);
        padding: 5px 6px;
        border-radius: 18px;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        i{
          font-size: 12px;
          color: #fff;
          padding: 6px;
          background-color: black;
          border-radius: 50%;
        }
      }
    }
  }

  .content{
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;

    .left{

      .text{
        display: flex;
        gap: 5px;

        .vertical{
          writing-mode: vertical-rl;
          padding: 8px 0;
          font-size: 13px;
          font-weight: 400;
        }

        .main-text{
          font-size: 24px;
        }

        
      }

      .star{
        padding: 8px 14px;
        
        i{
          color: #FEA634;
        }

        #star-empty{
          color: #E3DFDD;
        }
      }
    }

    .right{
      display: flex;
      gap: 130px;
      
      .color{
        display: flex;
        align-items: flex-start;
        gap: 10px;

        .color-text{
          writing-mode: vertical-rl;
          font-weight: 600;
        }

        .color-selection{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 20px;

          i{
            font-size: 24px;
          }

          i:nth-child(1){
            color: #60AFCD;
          }
          i:nth-child(2){
            padding: 10px;
            color: #F9D064;
            background-color: black;
            border-radius: 10px;
          }
          i:nth-child(3){
            color: #E07865;
          }
        }
      }

      .size{
        display: flex;
        gap: 15px;

        .size-text{
          writing-mode: vertical-rl;
          font-weight: 600;

          span{
            color: grey;
          }
        }

        .size-select{

          ul{

            li{
              height: 50px;
              width: 50px;
              list-style: none;
              margin-bottom: 8px;
              border: 2px solid #F2F2F2;
              border-radius: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .grey{
              background-color: #F2F2F2;
            }

            .black{
              background-color: black;
              color: white;
            }
          }
        }
      }
    }
  }

  #model{
    height: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .offer-price{
    height: 200px;
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;


    .left{
      height: 160px;
      width: 135px;
      display: flex;
      position: relative;

      .circle{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: black;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;

        h6{
          font-size: 10px;
          font-weight: 400;
        }
      }

      .outer{
        height: 100%;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 120px;

        i{
          padding-left: 25px;
          font-size: 32px;
          font-weight: 200;
          mix-blend-mode: difference;
          background-color: transparent;
          color: white;
        }

        .deal{
          height: 50px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .number{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;

            .percent{
              font-size: 14px;
            }
          }

          h6{
            font-size: 10px;
          }
        }
      }
    }

    .right{
      text-align: right;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-family: monospace;

      h6{
        font-size: 20px;
        text-decoration: line-through;
        color: #e69c42;
        font-weight: 400;
      }

      h3{
        font-size: 36px;
      }

      .icon-text{
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;

        .love{
          padding: 15px;
          font-size: 22px;
          background-color: #F3F3F3;
          border-radius: 50%;
        }

        button{
          padding: 15px 20px;
          font-size: 12px;
          border-radius: 20px;
          background-color: black;
          color: white;
          border: none;

          i{
            padding: 3px;
            border-radius: 50%;
            background-color: red;
            color: white;
          }
        }
      }
    }
  }
}

.small{
  height: 100px;
  border-radius: 15px;
  background-color: #ecececbd;
  position: absolute;
  bottom: 5px;
  z-index: 9;
}

.modelS{
  rotate: -10deg;
  left: 300px;
  bottom: 30px;
}

.backS{
  left: 450px;
  bottom: 20px;
}

.pantS{
  height: 100px;
  rotate: 10deg;
  right: 300px;
  bottom: 20px;
  background-color: #f3f3f3d4;
}

