* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  background-color: black;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.box{
  width: 100%;
  height: 20vh;
  border-bottom: 2px solid white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.box h1{
  padding: 0 20px;
  font-size: 8vh;
}

.box img{
  height: 15vh;
  width: 15vh;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  transition: all linear 0.2s;
  opacity: 0;
}