:root{
  --x: 100px;
  --y: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: 1;
}

.cover{
  height: 100%;
  width: 100%;
  background: radial-gradient(150px at var(--x) var(--y), rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.615));
  position: absolute;
  z-index: 3;
}