* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #fff;
  background-image: url("https://images.unsplash.com/photo-1691679829047-aa2674339070?q=80&w=3132&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

nav {
  height: 3.5%;
  width: 100%;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;

  .left {
    ul {
      display: flex;
      gap: 12px;

      li {
        list-style-type: none;
      }

      .app {
        font-weight: 700;
      }
    }
  }

  .right {
    ul {
      display: flex;
      gap: 18px;

      li {
        font-size: 18px;
        list-style-type: none;
      }
    }
  }
}

.wrapper {
  height: 96.5%;
  width: 100%;
  padding: 8px;

  .folders {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 28px;

    .folder {
      height: 80px;
      width: 80px;
      display: flex;
      flex-direction: column;
      user-select: none;

      li {
        text-align: center;
        list-style-type: none;
        font-size: 14px;
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);

    .dock {
      padding: 6px 12px;
      width: fit-content;
      display: flex;
      background-color: rgba(128, 128, 128, 0.285);
      border-radius: 30px;
      user-select: none;

      .dock-app {
        img {
          height: 90px;
          cursor: pointer;
          transition: transform 0.2s ease;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

.rt-click {
  width: 250px;
  background: rgba(0, 0, 0, 0.441);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1.5px solid rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  display: none;

  .box {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      margin-left: 10px;
      list-style-type: none;
      font-size: 16px;
    }

    .middle {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .line {
      height: 1px;
      width: 100%;
      background-color: #fff;
    }
  }
}

.chrome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 1px solid rgb(81, 80, 80);
  overflow: hidden;
  display: block;

  .top {
    display: flex;
    background-color: #141415;
    border-top: 20px;

    .ryg {
      display: flex;
      gap: 6px;
      padding: 12px;

      .circle {
        height: 15px;
        width: 15px;
        background-color: #2f2a2a;
        border-radius: 50%;
      }

      .red {
        background-color: #ff5c5f;
      }
      .grey {
        background-color: #414141;
      }
      .green {
        background-color: #34c759;
      }
    }

    .tab {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 250px;
      background-color: #3b3b3f;
      padding-inline: 10px;
      border-radius: 10px;
      margin: 2px;

      .left {
        display: flex;
        align-items: center;
        gap: 8px;
        img {
          height: 16px;
        }
        li {
          font-size: 14px;
          list-style-type: none;
        }
      }

      .right {
        i {
          font-size: 20px;
        }
      }
    }

    .new-tab {
      display: flex;
      align-items: center;
      padding-inline: 6px;
      i {
        font-size: 20px;
      }
    }
  }

  .bottom {
    img {
      height: 400px;
    }
  }
}
