* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(225, 225, 225);
}

body {
  background-color: #121212;
  padding: 1rem;
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view1 .bottom {
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view1 .bottom .text h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view1 .bottom .text p {
  font-weight: 100;
  font-size: 1.5rem;
  opacity: 0.6;
  line-height: 1.5;
}
main section.view1 .bottom .text .btn {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}
main section.view1 .bottom .text .btn i {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #292929;
  border-radius: 50%;
  border: 0.5px solid white;
  padding: 0.5rem;
  font-size: 1.5rem;
}
main section.view1 .bottom .text .btn button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
main section.view2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}
main section.view2 .top, main section.view2 .bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
main section.view2 .top .element, main section.view2 .bottom .element {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view2 .top .element small, main section.view2 .bottom .element small {
  opacity: 0.6;
}
main section.view2 .top .element h2, main section.view2 .bottom .element h2 {
  font-size: 2rem;
  font-weight: 300;
}
main section.view3 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view3 .top {
  width: 100%;
}
main section.view3 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view3 .bottom {
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.view3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view3 .bottom .text h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view3 .bottom .text p {
  font-weight: 100;
  font-size: 1rem;
  opacity: 0.6;
  line-height: 1.5;
}
main section.view3 .bottom > p {
  text-transform: uppercase;
}
main section.view3t {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
main section.view3t h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 200;
  padding: 0 1rem;
}
main section.view3t .btn {
  display: none;
}
main section.view4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
main section.view4 .card {
  border-radius: 0.7rem;
  width: 100%;
  background-image: url(./pictures/card1.webp);
  aspect-ratio: 1/1;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main section.view4 .card .icon, main section.view4 .card .bottom {
  background-color: rgba(102, 99, 99, 0.392);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid white;
  border-radius: 0.7rem;
  padding: 0.5rem;
}
main section.view4 .card .top {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
main section.view4 .card .icon {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
}
main section.view4 .card .bottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}
main section.view4 .card .bottom p {
  text-transform: uppercase;
}
main section.view4 .card2 {
  background-image: url(./pictures/card2.webp);
}
main section.view4 .card3 {
  background-image: url(./pictures/card3.webp);
}
main section.view5 {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view5 .top {
  width: 100%;
}
main section.view5 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view5 .bottom {
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.view5 .bottom .text {
  text-transform: uppercase;
}
main section.view5 .bottom .text p {
  padding: 0.5rem;
}
main section.view5 .bottom .text h1 {
  padding: 0.5rem;
  font-size: 2.5rem;
  font-weight: 200;
}
main section.view5 .bottom .btn {
  display: flex;
  gap: 1rem;
  padding: 1rem 0.5rem;
}
main section.view5 .bottom .btn i {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #292929;
  border-radius: 50%;
  border: 0.5px solid white;
  padding: 0.5rem;
  font-size: 1.5rem;
}
main section.view5 .bottom .btn button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
main section.view6 {
  width: 100%;
  padding: 1rem;
}
main section.view6 .box {
  background-color: #CDBD63;
  color: black;
  border-radius: 0.7rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view6 .box .text {
  text-transform: uppercase;
}
main section.view6 .box .text p {
  font-weight: 300;
}
main section.view6 .box .text h1 {
  padding: 0.5rem 0rem;
  font-size: 2.6rem;
  font-weight: 200;
}
main section.view6 .box .btn {
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  border-radius: 0.7rem;
}
main section.view6 .box .btn p {
  background-color: transparent;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: 200;
}
main section.view6 .box .btn i {
  color: #fff;
  font-size: 1.5rem;
}
main footer {
  width: 100%;
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main footer h5 {
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
}
main footer p {
  font-size: 1rem;
  color: #aca9a9;
  text-transform: uppercase;
  font-weight: 200;
}
main footer .alvy {
  background-color: #1E1E1E;
  padding: 1.5rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
}
main footer .alvy .social {
  display: flex;
  gap: 0.5rem;
}
main footer .alvy .social i {
  font-size: 1.5rem;
  background-color: #3f3c3c;
  border: 0.5px solid rgba(255, 255, 255, 0.5803921569);
  padding: 0.5rem;
  border-radius: 50%;
}
main footer .box {
  padding: 1.5rem;
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main footer .box .pages {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main footer .box .pages .btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  background-color: #CDBD63;
  border-radius: 0.7rem;
  color: #121212;
  font-weight: 300;
}
main footer .info {
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  text-align: center;
  padding: 1.5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main footer .info .info1 {
  color: #aca9a9;
  font-weight: 200;
}
main footer .info .info1 a {
  color: #fff;
}
main footer .info h6 {
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
main footer .info h6 i {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgba(55, 53, 53, 0.5921568627);
  border-radius: 50%;
  border: 1px solid #aca9a9;
}

@media (min-width: 900px) {
  main section.view1 {
    flex-direction: row;
    padding: 1rem;
  }
  main section.view1 .top,
  main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view1 .bottom .text {
    gap: 1.5rem;
  }
  main section.view1 .bottom .text h1 {
    font-size: 3.5rem;
  }
  main section.view1 .bottom .text p {
    width: 60%;
    font-size: 1.5rem;
  }
  main section.view2 {
    flex-direction: row;
  }
  main section.view2 .top, main section.view2 .bottom {
    padding: 1rem;
  }
  main section.view2 .top .element, main section.view2 .bottom .element {
    gap: 0.5rem;
  }
  main section.view2 .top .element h2, main section.view2 .bottom .element h2 {
    font-size: 4rem;
    font-weight: 250;
  }
  main section.view3 {
    flex-direction: row-reverse;
  }
  main section.view3 .top, main section.view3 .bottom {
    width: 50%;
  }
  main section.view3 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view3 .bottom .paragraphs {
    display: flex;
    gap: 2rem;
  }
  main section.view3 .bottom .paragraphs p {
    font-size: 1.5rem;
  }
  main section#view3s, main #view5 {
    flex-direction: row;
  }
  main section.view3t .btn {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
  }
  main section.view3t .btn i {
    width: -moz-fit-content;
    width: fit-content;
    background-color: #292929;
    border-radius: 50%;
    border: 0.5px solid white;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  main section.view3t .btn button {
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    outline: none;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
  }
  main section.view4 {
    flex-direction: row;
  }
  main section.view5 {
    flex-direction: row;
  }
  main section.view5 .top, main section.view5 .bottom {
    width: 50%;
  }
  main section.view5 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view6 .box {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 4rem;
    padding: 3.5rem;
  }
  main section.view6 .box .text h1 {
    font-size: 4rem;
  }
  main section.view6 .box .btn {
    padding: 0;
    white-space: nowrap;
    padding: 0.5rem 3rem;
  }
  main footer {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 2.5fr 0.5fr;
    grid-template-areas: "alvy box" "alvy info";
    gap: 1rem;
  }
  main footer .alvy {
    grid-area: alvy;
  }
  main footer .box {
    grid-area: box;
    flex-direction: row;
    justify-content: space-around;
  }
  main footer .info {
    grid-area: info;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */