* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: monospace;
  flex-wrap: wrap;
}

main .card{
  padding: 6px;
  width: 250px;
  height: 400px;
  background-color: #fff;
  border-radius: 18px;
}

img{
  height: 250px;
  width: 240px;
  object-fit: cover;
  object-position: center;
  border-radius: 18px;
}

.details{
  padding: 10px;

  h3{
    font-size: 18px;
    padding: 2px 0 6px;

    i{
      padding-left: 10px;
      color: rgb(22, 180, 22);
    }
  }

  p{
  color: rgb(106, 106, 106);
  }
}

.social{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;

  i{
    padding-right: 5px;
  }

  button{
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
  }
}