.hero{
  height: 80vh;
  width: 100%;
  background-image: url("../../assets/img/hero.png");
  background-position: center;
  background-size: cover;
  margin-top: 2rem;
  border-radius: 1rem;


  .hero-content{
    position: relative;
    color: #ffffff;
    text-align: center;
    top: 15%;

    h1{
      font-size: 3rem;
      font-weight: 400;
    }
    
    p{
      margin: 2rem;
      font-size: 1.3rem;
    }

    button{
      padding: .6rem .9rem;
      background-color: var(--btn-color);
      color: #fff;
      border-radius: 2rem;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }

  .sm-link{
    padding: 1rem 2rem;
    margin-top: 19rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;

    .left{
      padding: .5rem .7rem;
      display: flex;
      gap: .5rem;
      align-items: center;
      background: linear-gradient(to right,rgb(96, 95, 95), #9f9191, rgb(117, 115, 115));
      border-radius: 2rem;

      p{
        font-size: .8rem;
      }

      .images{
        padding: .3rem .5rem;
        background-color: rgba(255, 255, 255, 0.422);
        border-radius: 3rem;
        backdrop-filter: blur(10px);

        img{
          height: 35px;
          width: 35px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .link{
      ul{
        display: flex;
        gap: 1rem;
        li{

        }
      }
    }
  }
}