* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}
.outer{
  height: 80vh;
  width: 80vh;
  background-color: lightskyblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inner1{
  height: 100px;
  width: 100px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: lightpink;
}
.inner2{
  height: 150px;
  width: 150px;
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
  background-color: rgb(203, 36, 61);
}
.inner3{
  height: 200px;
  width: 200px;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  background-color: darkorange;
}