* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAnimate {
  from {
    --rotate: 0deg;
  }

  to {
    --rotate: 360deg;
  }
}

.box{
  max-width: 300px;
  padding-inline: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* box-shadow: 0 0 50px red; */
  border-radius: 15px;

  background: 
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, red, black) border-box;
  border: 0px solid rgba(255, 255, 255, 0);

  animation: borderAnimate 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  transition: all 0.3s linear;
  box-shadow: 0 0 0px red;
  color: white;
  text-shadow: 0 0 0px red;

  &:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 50px red;
    color: red;
    text-shadow: 0 0 10px red;
  }
}

img{
  width: 100%;
}

