* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  padding: 10px 20px;
  background-color: lightskyblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  z-index: 3;
}
button:active{
  scale: 0.90;
}