.stats{
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-direction: column;

  h5{
    font-size: 1.8rem;
    font-weight: 300;
  }

  .info{
    width: 100%;
    display: flex;
    justify-content: space-around;

    .num-detail{
      text-align: center;

      h6{
        font-size: 2.5rem;
        font-weight: 500;
      }
      
      p{
        font-size: .7rem;
      }
    }
  }
}