* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  height: 40%;
  width: 600px;
  background-color: lightskyblue;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card p{
  font-size: 24px;
}

.outer{
  height: 20px;
  width: 80%;
  background: #000;
  border-radius: 22px;

  .inner{
    height: 100%;
    width: 0%;
    background-color: bisque;
    border-radius: 22px;
  }
}

.bottom{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bottom button{
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}

.bottom button:active{
  scale: .80;
}