* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0f172a;
  color: white;
}

.nav {
  width: 100%;
  padding: 1rem 5%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #38bdf8;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  position: relative;
  font-size: 1.05rem;
  font-weight: 500;
  text-decoration: none;
  color: #e2e8f0;
}

.nav-links li a:hover {
  color: #38bdf8;
  text-shadow: 0 0 10px #38bdf8;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  background: #38bdf8;
  color: #0f172a;
  box-shadow: 0 0 15px #38bdf8;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #38bdf8;
  box-shadow: 0 0 25px #38bdf8;
}

/* Style-2 */
.nav-2 {
  width: 100%;
  padding: 1rem 5%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #38bdf8;
  letter-spacing: 1px;
  margin-right: auto;
}

.nav-links-2 {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right: 30px;
}

.nav-links-2 li a {
  position: relative;
  font-size: 1.05rem;
  font-weight: 500;
  text-decoration: none;
  color: #e2e8f0;
}

.nav-links-2 li a:hover {
  color: #38bdf8;
  text-shadow: 0 0 10px #38bdf8;
}

.btn-2 {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  background: #38bdf8;
  color: #0f172a;
  box-shadow: 0 0 15px #38bdf8;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-2:hover {
  background: #38bdf8;
  box-shadow: 0 0 25px #38bdf8;
}

/* Style-3 */
.nav-3 {
  width: 100%;
  padding: 1rem 5%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-3 .nav-group-3 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo-3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #38bdf8;
  letter-spacing: 1px;
}

.nav-links-3 {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links-3 li a {
  position: relative;
  font-size: 1.05rem;
  font-weight: 500;
  text-decoration: none;
  color: #e2e8f0;
}

.nav-links-3 li a:hover {
  color: #38bdf8;
  text-shadow: 0 0 10px #38bdf8;
}

.btn-3 {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  background: #38bdf8;
  color: #0f172a;
  box-shadow: 0 0 15px #38bdf8;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-3:hover {
  background: #38bdf8;
  box-shadow: 0 0 25px #38bdf8;
}

/* Style-04 */
.nav-4 {
  width: 100%;
  padding: 1rem 5%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-4 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #38bdf8;
  letter-spacing: 1px;
  margin-right: 15rem;
}

.nav-links-4 {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links-4 li a {
  position: relative;
  font-size: 1.05rem;
  font-weight: 500;
  text-decoration: none;
  color: #e2e8f0;
}

.nav-links-4 li a:hover {
  color: #38bdf8;
  text-shadow: 0 0 10px #38bdf8;
}

.btn-4 {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  background: #38bdf8;
  color: #0f172a;
  box-shadow: 0 0 15px #38bdf8;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-4:hover {
  background: #38bdf8;
  box-shadow: 0 0 25px #38bdf8;
}

/* Style-5 */
.nav-5 {
  width: 100%;
  padding: 1rem 5%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.logo-5 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #38bdf8;
  letter-spacing: 1px;
}

.nav-links-5 {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links-5 li a {
  position: relative;
  font-size: 1.05rem;
  font-weight: 500;
  text-decoration: none;
  color: #e2e8f0;
}

.nav-links-5 li a:hover {
  color: #38bdf8;
  text-shadow: 0 0 10px #38bdf8;
}

.btn-5 {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  background: #38bdf8;
  color: #0f172a;
  box-shadow: 0 0 15px #38bdf8;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-5:hover {
  background: #38bdf8;
  box-shadow: 0 0 25px #38bdf8;
}