* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  anchor-name: --some-anchor;
  /* gap: 20px; */
}

.box {
  height: 200px;
  width: 200px;

  &:hover{
    anchor-name: --some-anchor;
  }
}

.red {
  background-color: rgb(155, 13, 13);
}

.blue {
  background-color: rgb(3, 3, 130);
}

.green {
  background-color: rgb(0, 75, 0);
}

.anchor{
  background-color: #606060;
  position: absolute;
  position-anchor: --some-anchor;
  top: anchor(top);
  left: anchor(left);
  right: anchor(right);
  bottom: anchor(bottom);
  pointer-events: none;
  transition: all 0.3s linear;
  mix-blend-mode: difference;
}