* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.balls{
  display: flex;
  gap: 30px;
  transition: all 0.3s linear;
}

.ball{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.3s linear;
}

.red {
  background-color: rgb(155, 13, 13);
}

.blue {
  background-color: rgb(3, 3, 130);
}

.green {
  background-color: rgb(0, 75, 0);
}

.balls:has(.ball:hover){
  scale: 1.3;
}

.ball:hover{
  scale: 1.5;
}